# DB Settings
MARIADB_DATABASE=projectbankapp
MARIADB_USER=projectbankapp
MARIADB_PASSWORD=projectbankapp
MARIADB_ROOT_PASSWORD=rootpassword

# Spring Boot Settings
SPRING_DATASOURCE_URL=jdbc:mariadb://db:3306/projectbankapp
SPRING_DATASOURCE_USERNAME=projectbankapp
SPRING_DATASOURCE_PASSWORD=projectbankapp

PHPMYADMIN_PORT=8081

# JWT Settings
# Use a long random secret in real environments.
APP_SECURITY_JWT_SECRET=0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef
APP_SECURITY_JWT_ACCESS_TOKEN_EXPIRATION_SECONDS=900
APP_SECURITY_JWT_REFRESH_TOKEN_EXPIRATION_SECONDS=604800
