# DB Settings
MARIADB_DATABASE=projectbankapp
MARIADB_USER=projectbankapp
MARIADB_PASSWORD=projectbankapp
MARIADB_ROOT_PASSWORD=rootpassword

# Spring Boot Settings
SPRING_DATASOURCE_URL=jdbc:mariadb://db:3306/projectbankapp
SPRING_DATASOURCE_USERNAME=projectbankapp
SPRING_DATASOURCE_PASSWORD=projectbankapp

PHPMYADMIN_PORT=8081
